:root {
  --primary-text-color: #757575;
  --secondary-text-color: #FFFFFF;
  --hero-titel-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #2F303A;
  --button-grey-color: #F5F4FA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0%;
}

img {
  display: block;
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"), url("../fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"), url("../fonts/roboto-v30-latin-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
.logo-theme {
  color: #000000;
}
footer .logo-theme {
  color: #ffffff;
}

.social__link {
  background-color: var(--primary-white-color);
  fill: #AFB1B8;
}
.social__link:hover, .social__link:focus {
  fill: #FFFFFF;
}
footer .social__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-text-color);
}

.customers__list, .portfolio__list, .team__list, .specialty__list, .benefits__list {
  display: flex;
  gap: 30px;
}

.form-subscribe__input {
  border: 1px solid hsl(0deg, 0%, 30%);
  border-radius: 4px;
  background-color: transparent;
  width: 360px;
  height: 50px;
  padding: 15px;
  color: var(--secondary-text-color);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe__input:focus {
  border-color: var(--accent-color);
}

.hint {
  position: absolute;
  top: 15px;
  left: -60px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form input[type=email]:not(:placeholder-shown) + .hint.is-hidden {
  opacity: 1;
  visibility: visible;
}

.send-icon {
  margin-left: 10px;
}

.form-subscribe__label {
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.form-subscribe {
  margin-left: auto;
}

.form {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  position: relative;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal__close-button {
  position: fixed;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

.modal__close-symbol {
  position: absolute;
  transform: translate(-50%, -50%);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form-application {
  width: 100%;
  margin: 0 auto;
}

.form-application__pre-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.form-application__row {
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-application__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-application__input:focus + .form-application__icon {
  fill: var(--accent-color);
}

.form-application__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0px 0px 0px 42px;
  cursor: pointer;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-application__input:focus {
  border-color: var(--accent-color);
}

.form-application__lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-checkbox__lable,
.modal-checkbox__box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  fill: transparent;
}
.modal-checkbox__input:checked + .modal-checkbox__icon {
  border-color: transparent;
  background-color: var(--accent-color);
}
.modal-checkbox__input:focus + .modal-checkbox__icon {
  border-color: var(--accent-color);
}

.modal-checkbox__lable {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-checkbox__policy-link {
  padding-left: 5px;
  color: var(--accent-color);
}

.modal-comment {
  margin-bottom: 20px;
}

.form-application__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;
  cursor: pointer;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-application__comment:focus {
  border-color: var(--accent-color);
  color: #212121;
}

.concept__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.form-subscribe__button {
  fill: var(--secondary-text-color);
}

.form-application__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 0;
}

.concept__button, .form-subscribe__button, .form-application__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.form-subscribe__button, .form-application__button {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.customers__title, .specialty__title, .team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 0;
  padding-top: 24px;
  padding-bottom: 25px;
}

.benefits__pre-title {
  margin-bottom: 10px;
}

.social__pre-title {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  display: block;
}

.benefits__pre-title, .social__pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social__list {
  display: flex;
  gap: 10px;
}

.business-card__container {
  justify-content: center;
  align-items: center;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header > .container {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
  position: relative;
}
.active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.connect {
  display: flex;
  gap: 30px;
}

.header__connect {
  margin-left: auto;
}

.connect__link {
  display: flex;
  cursor: pointer;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link:hover, .connect__link:focus, .connect__link:active {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.connect__icon {
  margin-right: 10px;
}

.concept {
  background-color: var(--primary-grey-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_image.png);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.concept__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-titel-text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__card {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--button-grey-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.specialty {
  padding-top: none;
  padding-bottom: 94px;
}

.specialty__item {
  position: relative;
}

.specialty__item-overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team__item {
  background-color: var(--primary-white-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.business-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.business-card__trade {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.business-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__button-list {
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio__button {
  background-color: var(--button-grey-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  color: var(--title-text-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:active, .portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

.portfolio__pre-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__list {
  flex-wrap: wrap;
}

.portfolio__item {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

.portfolio-thurm {
  position: relative;
  overflow: hidden;
}

.portfolio__hidden-description {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__hidden-description {
  transform: translate(0%, -100%);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-name {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  cursor: pointer;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.customer__link:hover, .customer__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  display: flex;
  background-color: var(--primary-grey-color);
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.contact {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__contact {
  margin-left: auto;
  margin-right: auto;
}

address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-style: normal;
  color: var(--secondary-text-color);
}

.contact__item {
  margin-bottom: 9px;
}

.contact__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact__address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__social {
  margin-left: 70px;
}/*# sourceMappingURL=main.css.map */