:root {
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --hero-titel-text-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --primary-grey-color: #2F303A;
    --button-grey-color: #F5F4FA;
}